body {
  font-family: Arial, sans-serif;
  background: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: rgba(113, 113, 113, 0.2); 
  border-radius: 16px;
  width: 300px;
  padding: 20px;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-size: 16px;
  margin-right: 1rem;
}

.search-bar button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.search-bar button img {
  width: 20px;
  height: 20px;
}

.temperature {
  text-align: center;
  margin: 20px 0;
}

.temperature h1 {
  font-size: 48px;
  margin: 0;
}

.location {
  text-align: center;
  font-size: 18px;
  margin: 5px 0;
}

.details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.details div {
  text-align: center;
}

.details div p {
  margin: 5px 0;
  font-size: 14px;
}

